@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-base-light: #FAF6F1;
  --color-base: #f4e9daff;
  --color-base-mid: #D8C3A5;
  --color-base-dark: #E2DED8;
  --color-base-card: #f2ddc0ff;
  --color-base-card-light: #eee2d0ff;

  --color-text-primary: #2E2C2A;
  --color-text-secondary: #5A5754;
  --color-text-red: #E85A4F;
  --color-text-pink: #b07f47ff;

  --color-accent-red: #e47171ff;
  --color-accent-blue: #1E3D58;
  --color-accent-hover: #d09f71ff;

  --color-neutral-gray: #C7C3BD;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
